input[type='text'],
input[type='email'] {
    width: 50% !important;
}

.form-item {
    margin-bottom: 2%;
}

label {
    display:block;
}

#submit:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

/*jquery validation error*/
input.invalid {
    border: 1px solid red;
}

input.invalid:focus-visible {
    border: 1px solid red;
    outline: none;
}

p.invalid {
    color: red;
}

/*server validation error (for file ext-s)*/
.error {
    color:red;
}

.border {
    border: 1px solid red !important;
}

